<section class="mt-16">
  <h2 class="font-serif text-xl text-[#212529] mb-6">
    Comments
  </h2>

  <!-- TODO: Update Giscus repo-id and category-id after enabling Discussions on your GitHub repo -->
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="nsieteam/nsieteam-blog"
    data-repo-id="R_kgDO_PLACEHOLDER"
    data-category="General"
    data-category-id="DIC_kwDO_PLACEHOLDER"
    data-mapping="pathname"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="light"
    data-lang="en"
    crossorigin="anonymous"
    async
  >
  </script>
</section>
